nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 50px;
    background-color: blueviolet;
    color: white;
}

nav a {
    color: white;
}

.details-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 40px;
}

.details-box span {
    font-weight: bold;
}

.details-box button {
    padding: 8px 15px;
    margin-left: 15px;;
    background-color: white;
    color: blueviolet;
    border: 1px solid white;
    border-radius: 5px;
}

.login {
    display: flex;
}

.login li {
    margin-left: 15px;
}

.login li span {
    font-weight: bold;
}